* {
  margin: 0;
  padding: 0;
  font-family: 'Arial'
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.map-marker {
  color: black;
}

.mapWrapper {
  position: absolute;
  width: 80%;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.pointList {
  width: 20%;
  position: absolute;
  top: 50px;
  right: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.map-marker-popup {
  display: none;
  width: auto;
  background-color: white;
  z-index: 15;
  position: absolute;
  padding: 15px;
  text-align: left;
}

.mapPointMarker {
  width: 3em;
  cursor: pointer;
}

thead td {
  border-bottom: solid 2px black;
  margin: 0;
}

td {
  padding: 3px 6px 3px 0px;
  vertical-align: top;
}

.navigationPanel {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  padding-top: 10px;
  background-color: #000000;
  color: #ffffff;
}

label {
  user-select: none;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

input[type="checkbox"] {
  padding: 5px;
  margin: 5px;
}

/* PointModal */

.pointModal {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
}

.pointModal .pointModalTitle {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
}

.pointModal form {
  width: 500px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 767px) {
.pointModal form {
  width: 90%;
  margin-left: 5%;
  }
}

.pointModal form * {
  display: block;
  text-align: left;
  width: 100%;
}

.pointModal form label {
  padding: 5px 0;
  cursor: initial;
}

.pointModal form input, .pointModal form textarea {
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  font-size: 1em;
}

.pointModal form select {
  padding-left: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  font-size: 1em;
}

.pointModal form select option {
  padding: 15px;
}
