* {
  margin: 0;
  padding: 0;
  font-family: 'Arial'
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.map-marker {
  color: black;
}

.mapWrapper {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.pointList {
  width: 20%;
  position: absolute;
  top: 50px;
  right: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.map-marker-popup {
  display: none;
  width: auto;
  background-color: white;
  z-index: 15;
  position: absolute;
  padding: 15px;
  text-align: left;
}

.mapPointMarker {
  width: 3em;
  cursor: pointer;
}

thead td {
  border-bottom: solid 2px black;
  margin: 0;
}

td {
  padding: 3px 6px 3px 0px;
  vertical-align: top;
}

.navigationPanel {
  position: absolute;
  width: auto;
  margin: 20px;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 40px;
  padding-top: 10px;
  color: #ffffff;
  text-align: left;
  padding: 20px 10px 10px 10px;
  background-color: rgba(100, 100, 100, 0.8);
  z-index: 50;
}

.navigationPanel * {
  position: relative;
  z-index: 60;
  cursor: pointer;
}

label, p.formTitle {
  user-select: none;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

input[type="checkbox"] {
  padding: 5px;
  margin: 5px;
}

/* PointModal */

.pointModal {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  overflow-y: scroll;
}

.pointModal .pointModalTitle {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
}

.pointModal form {
  width: 500px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 767px) {
.pointModal form {
  width: 90%;
  margin-left: 5%;
  }
}

.pointModal form * {
  display: block;
  text-align: left;
  width: 100%;
}

.pointModal form label, p.formTitle {
  padding: 5px 0;
  cursor: initial;
}

.pointModal form input, .pointModal form textarea {
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  font-size: 1em;
  border-radius: 5px;
  border: solid 1px black;
}

.pointModal form select {
  padding-left: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  font-size: 1em;
  border-radius: 5px;
  border: solid 1px black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pointModal form select option {
  padding: 15px;
}

.cancelRemoveWrapper {
  width: 500px;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 100px;
}

span.removeButton, span.cancelButton {
  padding: 10px 15px;
  text-transform: uppercase;
  border: 0px solid darkred;
  border-radius: 5px;
  background-color: darkred;
  color: #ffffff;
  font-size: 0.8em !important;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  width: 100% !important;
  text-align: center;
  padding: 10px 0;
}

input[type="submit"].addButton, input[type="submit"].updateButton {
  padding: 10px 15px;
  text-transform: uppercase;
  border: 2px solid darkgreen;
  border-radius: 5px;
  background-color: darkgreen;
  color: #ffffff;
  font-size: 0.8em;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
  min-width: auto;
  text-align: center;
}

.closeModal {
  padding: 10px 15px;
  text-transform: uppercase;
  border: 2px solid darkred;
  border-radius: 5px;
  background-color: darkred;
  color: #ffffff;
  font-size: 0.8em !important;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
  margin: 10px;
  margin-bottom: 50px;
  position: fixed;
  right: 20px;
  top: 20px;
}


.openingTimes * input {
  width: 100% !important;
  padding: 5px !important;
  min-width: auto !important;
  margin: 0 !important;
}

.openingTimes * td {
  display: table-cell !important;
  text-align: center !important;
  width: calc(100% / 7);
  padding: 5px;
}

.openingTimes * label {
  font-size: 0.8em;
  font-weight: 400;
}

h3 {
  font-size: 0.8em;
  font-weight: 600;
  margin-top: 30px;
}
